/* Common Styles for HTML Files */
/*
____________________
Fonts
____________________
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
____________________
Variables
____________________
*/

:root {
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--clr-grey-1);
  color: var(--clr-grey-1);
  transition: background-color 0.3s, color 0.3s;
}

/* Desktop styles */
@media (min-width: 769px) {
  .container1,
  .container2 {
    background-color: var(--clr-grey-10);
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .container1,
  .container2 {
    background-color: yellow;
  }
}

/* Main Page Styles */

header {
  display: flex;
  width: 100vw;
  height: 5rem;
  box-sizing: border-box;
  border: 1px solid var(--clr-grey-5);
  padding: 2rem;
}

.navbar > .logo {
  white-space: nowrap;
  color: var(--clr-grey-9);
}

nav {
  display: flex;
  padding-left: 70%;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  list-style: none;
  padding: 0 1rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--clr-grey-5);
}

.mp-header {
  width: 100vw;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid var(--clr-grey-5);
  padding: 0.3rem;
}

#mp-quotelink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--clr-grey-5);
}

/* Dark / Light Mode Switch  */

.dark-mode {
  background-color: var(--clr-grey-1);
  color: var(--clr-grey-5);
}

.dark-mode a,
.logo {
  color: var(--clr-grey-5);
}

#mode-switch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.js-btn {
  position: absolute;
  top: 10%;
  left: 80%;
  background-color: #ffff;
  border: none;
  color: green;
  padding: 0.3rem;
}

.js-btn:active {
  background-color: yellow;
}

/* Quote Page Styles */
